.vs
.vscode
.build*
.DS_Store
bin
[Bb]uild
*.VC.db
*.VC.opendb
*.user
*.ini
*.json

# Directories / Binaries
bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
